/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
    margin: 25px;
    background-color: rgb(240,240,240);
    font-family: arial, sans-serif;
    font-size: 14px;
  }
  
  /* Applies to all <h1>...</h1> elements. */
  h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
  }
  
  /* Applies to all elements with <... class="someclass"> specified. */
  .someclass { color: red; }
  
  /* Applies to the element with <... id="someid"> specified. */
  #someid { color: green; }

  <!-- Site navigation menu -->
<ul class="navbar">
  <li><a href="index.html">Home page</a>
  <li><a href="musings.html">Musings</a>
  <li><a href="town.html">My town</a>
  adding more line to add commit 
  <li><a href="links.html">Links</a>
</ul>

<!-- Main content -->
<h1>My first styled page</h1>

<p>Welcome to my styled pa
  #someid { color: green; }
